.slider {
    // overflow: hidden;
    width: 100%;
    max-width: 1200px;
    height: 594px;
    margin: 0 auto;
    background-color: #00039e;
    transition: 0.5s;
}
img {
    width: 100%;
    height: 100%;
}
.slideShow > img {
    width: 1200px;
    position: relative;
}
.Position_Slider {
    z-index: 99;
    width: 600px;
    position: absolute;
    top: 20%;
    color: #fff;
}
.Position_Slider > h2 {
    font-size: 40px;
}
.Position_Slider > h3 {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff86;
    border-left: 1px solid #e2c103c1;
    padding-left: 24px;
}
.title_slideShow {
    font-size: 20px;
    color: #e2c103c1;
    letter-spacing: 20px;
    font-weight: 500;
}
.price_page1 {
    display: flex;
    > h2 {
        color: #e2c103c1;
        font-size: 28px;
    }
    > h4 {
        color: #797979;
        font-size: 20px;
        margin-left: 10px;
        text-decoration-line: line-through;
    }
    > p {
        width: 40px;
        height: 15px;
        border-radius: 5px;
        font-size: 10px;
        margin-top: 30px;
        margin-left: 10px;
        background-color: #f31f1f;
        padding: 4px;
    }
}
.btn_slidedShow {
    margin-top: 20px;
    button {
        font-size: 16px;
        background-color: #0d0a4a;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 12px 16px;
        font-weight: 600;
        margin-right: 30px;
        cursor: pointer;
    }
    button:nth-child(1) {
        background-color: #e2c103c1;
        border: 1px solid #e2c103c1;
    }
}

//---------------------------------------
.slider_Page2 {
    width: 1200px;
    height: 500px;
    background-color: rgb(235 235 235);
    margin: 100px auto;
}
.title_Page2 {
    width: 600px;
    margin: 0px auto 40px;
    text-align: center;
}
.title_Page2 > h2 {
    font-size: 36px;
    color: #00039e;
}
.title_Page2 > p {
    color: #797979;
    font-size: 16px;
}
.page2_Item {
    width: 220px;
    height: 450px;
    margin: 0 auto;
    img {
        height: 300px;
        border-radius: 8px;
    }
    h3 {
        margin: 10px 0;
        font-size: 24px;
        display: flex;
        justify-content: center;
        color: #04068a;
    }
    p {
        margin: 5px 0 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: #e24a03;
    }
}
.btn_home {
    display: flex;
    justify-content: center;
    > button {
        margin: 5px 0;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        background-color: #04068a;
        color: #fff;
        font-weight: 400;
    }
}
//-----------------------------------------------

.Main_page3 {
    width: 100%;
    min-height: 1050px;
    background-color: #fff;
    margin-top: 300px;
}
.slider_Page3 {
    width: 1200px;
    height: 800px;
    margin: auto;
}
.title_Page3 {
    margin-top: 100px;
    display: inline-flex;
    list-style: none;
    li {
        width: 300px;
        margin: 0 0 100px;
        i {
            display: flex;
            justify-content: center;
            font-size: 30px;
            color: #e2c103c1;
            width: 40px;
            background-color: #e2c0032a;
            padding: 12px;
            margin: auto;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: #e2c103c1;
                color: #fff;
            }
        }
        h2 {
            display: flex;
            justify-content: center;
            color: #00039e;
        }
        p {
            text-align: center;
            color: #797979;
        }
    }
}
.title_page3_sale {
    margin: 30px 10px;
    font-size: 40px;
    font-weight: 700;
    color: #00039e;
}
.page3_Item {
    width: 220px;
    height: 450px;
    margin: 0 auto;
    img {
        height: 300px;
        border-radius: 8px;
    }
    h3 {
        margin: 10px 0;
        font-size: 24px;
        color: #04068a;
    }
    p {
        margin: 5px 0 10px;
        font-size: 16px;
        color: #e2c103;
    }
}
.Evaluate {
    display: flex;
    justify-content: space-between;
    h3:nth-child(1) {
        display: flex;
        color: #e2c103;
        font-size: 20px;
        p {
            font-size: 20px;
            margin-top: -4px;
            margin-left: 4px;
        }
    }
    h3:nth-child(2) {
        display: flex;
        padding-right: 10px;
        p {
            font-size: 20px;
            margin-top: -4px;
            margin-right: 4px;
        }
        p:nth-child(1) {
            color: #00039e;
        }
        p:nth-child(2) {
            color: #797979;
            text-decoration-line: line-through;
        }
    }
}

//-----------------------------------------------
.slider_Page4 {
    width: 100%;
    height: 800px;
    background-color: rgb(235 235 235);
    margin: 100px auto;
}
.title_Page4 {
    width: 600px;
    margin: 0px auto 40px;
    text-align: center;
    h2 {
        font-size: 36px;
        color: #00039e;
    }
    p {
        color: #797979;
        font-size: 16px;
    }
}
.page4_Item {
    display: flex;
    width: 850px;
    height: 450px;
    margin: 0 20px;
    img {
        width: 320px;
    }
}
.page2_Item {
    width: 220px;
    height: 450px;
    margin: 0 auto;
    img {
        height: 300px;
        border-radius: 8px;
    }
    h3 {
        margin: 10px 0;
        font-size: 24px;
        display: flex;
        justify-content: center;
        color: #04068a;
    }
    p {
        margin: 5px 0 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: #e24a03;
    }
}
.btn_home {
    display: flex;
    justify-content: center;
    button {
        margin: 5px 0;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        background-color: #04068a;
        color: #fff;
        font-weight: 400;
    }
}
.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 28px !important;
    line-height: 1;
    opacity: 0.75;
    color: #e24a03 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 12px !important;
    line-height: 20px;
    position: absolute;
    top: 30px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0.25;
    color: #e24a03 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Right_Slider {
    margin-left: 30px;
    color: #00039e;
    > p {
        font-size: 20px;
        letter-spacing: 20px;
        font-weight: 500;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-weight: 400;
        font-size: 18px;
        color: #5751518f;
        border-left: 1px solid #00039e;
        padding-left: 24px;
    }
}
.price {
    display: flex;
    h2 {
        color: #00039e;
        font-size: 28px;
    }
    h4 {
        color: #e2c103c1;
        font-size: 20px;
        margin-left: 10px;
        text-decoration-line: line-through;
    }
    p {
        width: 40px;
        height: 15px;
        border-radius: 5px;
        font-size: 10px;
        margin-top: 30px;
        margin-left: 10px;
        background-color: #ffffff81;
        padding: 4px;
        color: #00039e;
    }
}
.btn_Right {
    margin-top: 20px;
    button {
        font-size: 16px;
        background-color: #ebebeb;
        color: #00039e;
        border: 1px solid #00039e;
        border-radius: 4px;
        padding: 12px 16px;
        font-weight: 600;
        margin-right: 30px;
        cursor: pointer;
    }
    button:nth-child(1) {
        background-color: #e2c103c1;
        border: 1px solid #e2c103c1;
    }
}
//-------------------------------------------
.slider_Page5 {
    width: 100%;
    height: 1000px;
    background-color: #fff;
    margin: 100px auto;
}
.Page5 {
    width: 1200px;
    height: 100%;
    margin: auto;
    > h2 {
        padding-top: 80px;
        font-size: 40px;
        color: #00039e;
        letter-spacing: 1.5px;
    }
    > h4 {
        font-size: 28px;
        color: #e2c103;
    }
}
.page5_item {
    width: 600px;
    height: 300px;
    margin: auto;
    background-color: #e24a03;
    padding: 40px 30px;
    border-radius: 10px;
    background-color: #726700a2;
    > ul {
        display: inline;
        font-size: 32px;
        color: #fff;
        > i {
            margin: 8px;
        }
    }
    > p {
        font-size: 24px;
        margin: 20px 20px;
        font-weight: 500;
        color: #fff;
    }
}
.user_page5 {
    display: flex;
    .avatar_page {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #e24a03;
        border: 1px solid #fff;
    }
    > p {
        margin-left: 20px;
        font-size: 28px;
        font-weight: 500;
        color: #fff;
        margin-top: 4px;
    }
}
.user_page5_2 {
    width: 300px;
    height: 100px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    > div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #e24a03;
        border: 1px solid #fff;
        margin: 25px 30px;
    }
    > P {
        margin: 30px 0 0 0;
        font-size: 24px;
        font-weight: 500;
        color: #00039e;
    }
}
//-------------------------
.slider {
    // overflow: hidden;
    width: 100%;
    max-width: 1200px;
    height: 594px;
    margin: 0 auto;
    background-color: #00039e;
    transition: 0.5s;
}
.sliderContai {
    width: 100%;
    height: 594px;
    background-color: #0d0a4a;
}
.slick-prev {
    display: none !important;
    left: 40px !important;
    z-index: 99;
}
.slick-next {
    display: none !important;
    right: 40px !important;
    z-index: 99;
}
img {
    width: 100%;
    height: 100%;
}
