.dsFlex {
    display: flex;
}
.margin50 {
    margin: 16px 0;
}
.marginBT50 {
    margin-bottom: 50px;
}
.ltStyle {
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}
.Shadow {
    background-color: #fff;
    // position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 5px 10px 8px #e4e4e4;
}
.header {
    display: flex;
    width: 1200px;
    height: 80px;
    margin: auto;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.HdContainer {
    width: 100%;
    border-bottom: .2px solid rgba(221, 221, 221, 0.712);
}
.hdLogo {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
}
.hdSearch {
    display: flex;
    min-width: 320px;
    height: 50px;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.712);
    border-radius: 10px;
}
.hdInput {
    width: 280px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 10px ;
    outline: none;
}
.btnSearch {
    width: 80px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: .4s;
    &:hover {
        background-color: rgba(255, 166, 0, 0.199);
    }
}
.hdUser {
    display: flex;
    align-items: center;
}
.hdIcons {
    font-Size: 30px ; 
    padding: 5px 10px;
    cursor: pointer;
    transition: .4s;
    &:hover {
        background-color: rgba(255, 166, 0, 0.199);
        border-radius: 10px;
    }
}
.User {
    display: flex;
    align-items: center;
    font-Size: 30px ; 
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    &:hover {
        transform: scale(1.2);
    }
}

// Navbar 

.navigation {
    display: flex;
    list-style: none;
}
.styleNav {
    padding: 8px 60px;
    padding-left: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
    &:hover {
        color: orange;
        transform: scale(1.1);
    }
}
.link {
    text-decoration: none;
    transition: .1s;
    cursor: pointer;
    color: #333;
    &:hover {
        color: orange;
        transform: scale(1.1);
    }
}
.btnTouch {
    padding: 16px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-image: -webkit-linear-gradient(left ,#ffd000  , #ffbc2d);
    transition: 1s;
    &:hover {
    background-image: -webkit-linear-gradient(right ,#ffdd20  , #ffbc2d);
    transform: scale(1.2);
    }
}
//----------------------------

//Footer

.bgApp {
    background-color: #ebebebc9;
}

.ftMain {
    margin-top: 50px;
    border-top: 1px solid gray;
    width: 100%;
    min-height: 350px;
    margin: auto;
    background-color: #fff;
}
.ftContainer {
    width: 1200px;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.titleFt_icons {
    color: #e2c103;
}
.textRbt {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -24px;
    margin-bottom: 36px;
    color: #797979;

}
.titleFt {
    margin: 50px 0 30px;
    font-size: 24px;
    color: #07114dc4;
}
.titleFt_text {
    font-size: 20px;
    padding: 0 8px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -6px;
    color: #797979;
    cursor: pointer;
    transition: .2s;
    &:hover {
        color: #e2c103;
    }
}
.ftIcons_cl1 {
    list-style: none;
    font-size: 20px;
    margin-right: 16px;
    padding: 8px 12px;
    border-radius: 50%;
    color: #e2c103;
    background-color: #e2c00327;
    transition: .3s;
    &:hover {
        color: #fff;
        background-color: #e2c103;
    }
}
.withUs_text {
    margin-top: -4px;
    margin-left: 8px;
    font-size: 20px;
    color: #797979;
    font-family: Arial, Helvetica, sans-serif;
}
.withUs_icons {
    font-size: 36px;
    color: #e2c103;
    cursor: pointer;
}



//------------------------------------------------------------------
// Admin
.pdTitle {
    display: flex;
    padding-top: 80px;
    width: 1200px;
    margin: auto;
}
.pdContainer {
    width: 1200px;
    min-height: 350px;
    background-color: #fff;
    margin: 0 auto 0;
}
.pdTitle_icons {
    font-size: 28px;
    color: #e2c103;
}
.pdTitle_text {
    margin: 0 5px;
    cursor: pointer;
    transition: .1s;
    &:hover {
        color: #e2c103;
    }
}
.type {
    min-width: 500px;
    padding: 30px 0;
    font-size: 28px;
    justify-content: center;
}
.type input {
    width: 300px;
    padding: 4px;
    font-size: 20px;
}
.type label {
    margin-right: 10px;
    color: #00039e;
    font-weight: bold;
}
.tlAdmin {
    margin-left: 300px;
    font-size: 24px;
    font-weight: 500;
}
.btnTL_admin {
    font-size: 20px;
    padding: 0 16px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(left ,#ffd000  , #ffbc2d);
    transition: .2s;
    color: #554801;
    border: none;
    border-radius: 5px;
    
    &:hover {
        box-shadow: 0 0 0  4px rgba(209, 209, 209, 0.596);
        color: #fff;
        background-image: -webkit-linear-gradient(right ,#ffdd20  , #ffbc2d);
    }
}
.pdAdd {
    width: 1200px;
    min-height: 500px;
    margin: 0 auto 50px;
    background-color: #fff;
}
.productItem {
    padding: 50px 150px 0;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.productItem > label {
    font-size: 24px;
    margin-right: 20px;
    font-weight: bold;
    color: #00039e;
}
.productItem > input {
    width: 350px;
    font-size: 24px;
    margin-right: 20px;
    padding: 2px 4px 0;
    font-weight: 500;
}
.productItem > select {
    width: 360px;
    padding: 4px;
    font-size: 24px;
    font-weight: 500;
    margin-right: 20px;
}
.pdAddBtn {
    margin: 50px 150px;
    font-size: 20px;
    padding: 12px 50px;
    background-image: -webkit-linear-gradient(left ,#ffd000  , #ffbc2d);
    transition: .2s;
    color: #554801;
    border: none;
    border-radius: 5px;
    
    &:hover {
        box-shadow: 0 0 0  4px rgba(209, 209, 209, 0.596);
        color: #fff;
        background-image: -webkit-linear-gradient(right ,#ffdd20  , #ffbc2d);
    }
}
//--------------------------------------------------
// Login

.lgContainer{
    width: 600px;
    height: 600px;
    margin: 50px auto;
    background-color: #fff;
    border: 2px solid #e2c103;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
    &:hover {
        box-shadow: 0 0 30px #e2c103;
    }
}
.lgForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.SignIn {
    font-size: 40px;
    text-align: center;
    color: #e2c103;
}
.inputBox {
    width: 450px;
    height: 60px;
    border-bottom: 2px solid gray;
    margin: 30px 0;
    position: relative;
}
.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: gray;
    margin-top: 16px;
    &:focus~ label, &:valid~ label {
        top: -5px;
        color: #e2c103;
        font-weight: 600;
    }
}
.icons {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 19px;
}
.lbLogin{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-0%);
    font-size: 19px;
    font-weight: 500;
    color: gray;
    transition: .3s;
}
.btnLogin {
    display: flex;
    justify-content: center;
}
.btnClickLogin {
    padding: 12px 80px;
}
.create {
    text-align: center;
    margin-top: 10px;
}
.create p {
    cursor: pointer;
    color: blue;
    text-decoration: none;
    &:hover {
        color: #e2c103;
    }
}

.lgForm {
    transform: translatey(0px);
    transition: transform .7s ease;
}
.lgForm2 {
    margin: 40px 0;
    display: inline-block;
    // justify-content: center;
    // align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    transform: translatey(20px);
    transition: transform .7s ease;
}
.lgColum1 {
    width: 600px;
    margin-left: 120px;
}
.lgColum2 {
    margin-left: 620px;
    margin-top: -276px;
    width: 600px;
}

//-----------------------------------
//home -----------------

